h1 {
  text-align: center;
  font-size: 22pt;
  font-weight: bold;
  text-decoration: underline;
  color: #A4A400;
  text-decoration-color: #A4A400;
  background-color:  #F0F0F0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
  text-align: left;
  font-size: 18pt;
  text-decoration: underline;
  font-weight: normal;
  color: #A4A400;
  text-decoration-color: #A4A400;
  background-color:  #F0F0F0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  color: #404040;
  font-size: 11pt;
  font-family: Georgia, Garamond, serif;
  background-image: url('csc372-hw/images/silverware.jpg');
  background-position:fixed;
  background-repeat: repeat;
}

a{
  color: #A4A400;
  align-content: left;
}

div {
  border-bottom: solid;
}

h3 {
  font-style: italic;
  background:  #FFFFA8;
  font-size: 11pt;
  font-weight: normal;
}

h4{
  font-family: monospace;
  font-weight: normal;
  font-size: 11pt;
  text-align:left;
}

#second {
  margin-left: 23pt;
}
#third {
  margin-left: 65pt;
}

ul {
  list-style-image: url('csc372-hw/images/pie_icon.gif');
}