header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 1em;
}
nav {
  background-color: gray;
  overflow: hidden;
}
nav a{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  
}
article {
  align-content: flex-end;
}
aside{
  align-content: flex-start;
}
main {
  padding: 20px;
}
footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 1em;
}