.admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.logout-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid bisque;
  background-color: lightcoral;
  width: 25%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.logout-box h2{
  font-family: 'Times New Roman', Times, serif ;
}
.logout-box p {
  font-family: 'Times New Roman', Times, serif ;
}
.logout-box button{
  font-family: 'Times New Roman', Times, serif ;
  align-self: center;
}